<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
    {% include trust_badge.html %}

    {{ content }}

    <footer class="footer">
      <div>
        <strong>{{ site.event.name }} 2026</strong>
        <span>{{ site.event.date }} at {{ site.event.location }}</span>
      </div>
      <div class="footer-links">
        <a href="https://mlh.io/code-of-conduct">Code of Conduct</a>
        <a href="mailto:{{ site.event.email }}">Sponsor Contact</a>
        <a href="mailto:{{ site.event.email }}">Contact</a>
      </div>
    </footer>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
